*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
header{
    width: 100;
    background-color: rgb(246, 244, 247);
    margin: auto;
    height: 80px;
    
}
.enlace{
    position: absolute;
    padding: 0px 0px;
}
.Logo1{
    height: 80px; 
    position: left;  
    }
.TituloS{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
    color: #030303;
}

ul, ol{
      list-style: none;
}
.menu{

    width: fit-content;
    text-align: center;
    text-transform: uppercase;
    font-size: 8 px;
    margin: auto;
    z-index: 100;
}
.menu li a{
    /* display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase; */
    padding: 20px 15px;
    background-color: rgb(240, 154, 243);
    transition: all .1s ease-in-out;
    border: 1px ;
    display: block;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 2px;
    text-decoration: none;
    color: #fff;
    
  }
.menu ul li a{
    background-color: rgb(240, 154, 243);
    color: #fff;
    text-decoration: none;
    padding: 20px 15px;
    display: block;
    margin: 2px;
    z-index: 10000;

}
.menu li a:hover{
    cursor: pointer;
    background-color: #bdb0bd;
}
.menu > li{
    float: left;
}
.menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.menu li:hover>ul{
    display: block;
}
.menu li ul li{
    position: relative;

}
.menu li ul li ul{
    right: -170px;
    top: 0px;
    margin: 2px;
}
.checkbtn{
    font-size: 30px;
    color: #030303;
    float: right;
    line-height: 60px;
    margin-right: 40 px;
    cursor: pointer;
    display: none;
}
#BtnMenu{
    display: none;
}
@media (max-width: 952px){
 .enlace{
    padding-left: 20px;
 }
 .TituloS{
    padding-left: 20px;
 }
 .menu li a{
    font-size: 10px;
    padding: 10px 7.5px;
 }   
}

@media (max-width: 858px){
    
    header{
        width: 100;
        background-color: rgb(246, 244, 247);
        margin: auto;
        height: 40px;
    }
    .TituloS{
        text-align: center;
        font-size: 10px;
        padding-bottom: 30px;
     }
     .enlace{
        display: none;
     }
    /* .checkbtn{
        display: block;
        color: #fff;
    } */


    .menu { 
        position: absolute;
        /* float: right; */
        margin-right: 0px;
        background: none;
        height: 80px
    } 
    .menu li a{
        background: none;
        display: inline;
        color: #fff;
        font-size: 10px;
        padding: 0px 0px;
        border-radius: 0px;
        text-transform: uppercase;
    }
    .menu li{
        /* position: fixed; */
        width: fit-content;
        /* height: 100vh; */
        background: none;
        /* top: 80px; */
        /* left: -100%; */
        /* text-align: center; */
        transition: all .5s;
    }
    .menu li ul li{
        display: none;
    }
    .menu li a{
        display: block;
        margin: 0px 0;
        line-height: 30px;
        color: #030303;
    }
    .menu li a:hover{
        cursor: pointer;
        background-color: #f3eff3;
    }
    .container{
    background: url(Imagenes/1.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    }
    .container #ubicacion{
        width: 100;
        font-size: 5px;
    }
    .container #mapa1{
        display: none;

    }
    /* 
    .menu li a:hover,.menu li a.active{
            background: none;
            color: red;
        }
    #check:checked ~ .menu li{
        left:0;
    } */
   

    .cuerpo div map{
        display: none;
    }
}