.cuerpo  {
    padding: 60px 200px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: left;
    display: block;
    background: url(Imagenes/Fondo2.jpeg) no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.botones{
    justify-content: space-around;
    align-items: center;
    min-height: auto;
    box-sizing: content-box;
    display: flex;
}
.botones a{
    margin: 10px;
    margin-bottom: 3px;
    text-decoration: none;
    font-size: 30px;
    width: 60px;  
    height: 60px;
    line-height: 60px; 
    text-align: center;
    background-color: #314652;
    color: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .5s ease-in-out;

}
.botones a:hover{
    transform: scale(1.2);
}
.botones a h2{
    margin-top: 1px;
    font-size: 10px;
}
.container{
    margin-top: 10px;

}
.container section p{
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    
    transition: all .2s ease-in-out;
}
.container section a{
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: left;
    color: #fff;
    border-bottom: 2px solid gray;
    
}
.container section:target p {
    max-height: 120px;
    padding: 10px;
    cursor: pointer;

  }
.menu ul li{
    z-index: 1000 !important;
}

@media (max-width: 952px){
    
}
